# Lab 2 - Exploratory Data Analysis

In [179]:
import pandas as pd
import numpy as np

## 1. Import Data

In [180]:
df = pd.read_csv('imdb-videogames.csv')

## 2. Inspect a Portion of the Dataset

In [181]:
df.head()

,Unnamed: 0,name,url,year,certificate,rating,votes,plot summary,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
0,0,Spider-Man,https://www.imdb.com/title/tt5807780/?ref_=adv...,2018.0,T,9.2,"20,759","When a new villain threatens New York City, Pe...",True,True,False,False,False,True,False,False,False
1,1,Red Dead Redemption II,https://www.imdb.com/title/tt6161168/?ref_=adv...,2018.0,M,9.7,"35,703",Amidst the decline of the Wild West at the tur...,True,True,False,True,False,False,False,False,False
2,2,Grand Theft Auto V,https://www.imdb.com/title/tt2103188/?ref_=adv...,2013.0,M,9.5,"59,986",Three very different criminals team up for a s...,True,False,False,True,False,False,False,False,False
3,3,God of War,https://www.imdb.com/title/tt5838588/?ref_=adv...,2018.0,M,9.6,"26,118","After wiping out the gods of Mount Olympus, Kr...",True,True,False,False,False,False,False,False,False
4,4,Uncharted 4: A Thief's End,https://www.imdb.com/title/tt3334704/?ref_=adv...,2016.0,T,9.5,"28,722",Thrown back into the dangerous underworld he'd...,True,True,False,False,False,False,False,False,False

In [182]:
df.tail(10)

,Unnamed: 0,name,url,year,certificate,rating,votes,plot summary,Action,Adventure,Comedy,Crime,Family,Fantasy,Mystery,Sci-Fi,Thriller
20795,20793,Boku wa kyoumo kimi o korosu,https://www.imdb.com/title/tt6010652/?ref_=adv...,2016.0,NaN,NaN,NaN,Add a Plot,False,False,False,False,False,False,False,False,True
20796,20794,Find Me Event,https://www.imdb.com/title/tt2619050/?ref_=adv...,2011.0,NaN,NaN,NaN,"Days after being kidnapped and tortured, Denni...",False,False,False,False,False,False,False,False,True
20797,20795,Spooks,https://www.imdb.com/title/tt4965776/?ref_=adv...,2017.0,NaN,NaN,NaN,Add a Plot,False,False,False,False,False,False,False,False,True
20798,20796,Bite Marks,https://www.imdb.com/title/tt2797224/?ref_=adv...,2012.0,NaN,NaN,NaN,A demonologist gets in over his head while mak...,False,False,False,False,False,False,False,False,False
20799,20797,Requiem,https://www.imdb.com/title/tt4396968/?ref_=adv...,2016.0,NaN,NaN,NaN,Add a Plot,False,False,False,False,False,False,False,False,True
20800,20798,"Enjoy Your Power, Enjoy Your Choice",https://www.imdb.com/title/tt3845606/?ref_=adv...,2014.0,NaN,NaN,NaN,Add a Plot,False,False,False,False,False,False,False,False,True
20801,20799,RedSun2020,https://www.imdb.com/title/tt0790739/?ref_=adv...,2004.0,NaN,NaN,NaN,Joseph gets kidnapped and it's the player's jo...,False,False,False,False,False,False,False,False,True
20802,20800,Shutter,https://www.imdb.com/title/tt5119948/?ref_=adv...,2015.0,NaN,NaN,NaN,A tech support man who uses a drone to investi...,False,False,False,False,False,False,False,False,True
20803,20801,The Music Machine,https://www.imdb.com/title/tt5142082/?ref_=adv...,2015.0,NaN,NaN,NaN,A young teenage girl and the ghost of a dead m...,False,False,False,False,False,False,False,False,True
20804,20802,Cryptic,https://www.imdb.com/title/tt10964974/?ref_=ad...,2020.0,NaN,NaN,NaN,Kidnapped by an insane man and dragged into a ...,False,False,False,False,False,False,False,False,True

## 3. Shape and Basic Info about the Dataset

In [183]:
df.shape

(20805, 17)

In [184]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20805 entries, 0 to 20804
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    20805 non-null  int64
 1   name          20805 non-null  object
 2   url           20805 non-null  object
 3   year          20538 non-null  float64
 4   certificate   7905 non-null   object
 5   rating        11602 non-null  object
 6   votes         11602 non-null  object
 7   plot summary  20805 non-null  object
 8   Action        20805 non-null  bool
 9   Adventure     20805 non-null  bool
 10  Comedy        20805 non-null  bool
 11  Crime         20805 non-null  bool
 12  Family        20805 non-null  bool
 13  Fantasy       20805 non-null  bool
 14  Mystery       20805 non-null  bool
 15  Sci-Fi        20805 non-null  bool
 16  Thriller      20805 non-null  bool
dtypes: bool(9), float64(1), int64(1), object(6)
memory usage: 1.4+ MB

In [185]:
df.describe()

         Unnamed: 0          year
count  20805.000000  20538.000000
mean   10400.066667   2005.567485
std     6005.918897     11.846001
min        0.000000   1952.000000
25%     5199.000000   1997.000000
50%    10400.000000   2008.000000
75%    15601.000000   2016.000000
max    20802.000000   2027.000000

## 4. Look for Duplicates

In [186]:
df.duplicated().sum()

2

## 5. Fix Types

In [187]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20805 entries, 0 to 20804
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    20805 non-null  int64
 1   name          20805 non-null  object
 2   url           20805 non-null  object
 3   year          20538 non-null  float64
 4   certificate   7905 non-null   object
 5   rating        11602 non-null  object
 6   votes         11602 non-null  object
 7   plot summary  20805 non-null  object
 8   Action        20805 non-null  bool
 9   Adventure     20805 non-null  bool
 10  Comedy        20805 non-null  bool
 11  Crime         20805 non-null  bool
 12  Family        20805 non-null  bool
 13  Fantasy       20805 non-null  bool
 14  Mystery       20805 non-null  bool
 15  Sci-Fi        20805 non-null  bool
 16  Thriller      20805 non-null  bool
dtypes: bool(9), float64(1), int64(1), object(6)
memory usage: 1.4+ MB

In [188]:
df.dtypes

Unnamed: 0        int64
name             object
url              object
year            float64
certificate      object
rating           object
votes            object
plot summary     object
Action             bool
Adventure          bool
Comedy             bool
Crime              bool
Family             bool
Fantasy            bool
Mystery            bool
Sci-Fi             bool
Thriller           bool
dtype: object

In [189]:
df.columns

Index(['Unnamed: 0', 'name', 'url', 'year', 'certificate', 'rating', 'votes',
       'plot summary', 'Action', 'Adventure', 'Comedy', 'Crime', 'Family',
       'Fantasy', 'Mystery', 'Sci-Fi', 'Thriller'],
      dtype='object')

## 6. Drop and Rename Columns

In [190]:
df.columns

Index(['Unnamed: 0', 'name', 'url', 'year', 'certificate', 'rating', 'votes',
       'plot summary', 'Action', 'Adventure', 'Comedy', 'Crime', 'Family',
       'Fantasy', 'Mystery', 'Sci-Fi', 'Thriller'],
      dtype='object')

I dropped Unnamed: 0, because it only counts the number of games and is the same as a function already provided by pandas

In [191]:
df = df.drop('Unnamed: 0', axis=1)
df.columns

Index(['name', 'url', 'year', 'certificate', 'rating', 'votes', 'plot summary',
       'Action', 'Adventure', 'Comedy', 'Crime', 'Family', 'Fantasy',
       'Mystery', 'Sci-Fi', 'Thriller'],
      dtype='object')

I removed the space from Plot Summary and made all the column names lower case to make working with the data easier

In [192]:
df.columns = ['name', 'url', 'year', 'certificate', 'rating', 'votes', 'plot_summary',
       'action', 'adventure', 'comedy', 'crime', 'family', 'fantasy',
       'mystery', 'sci-fi', 'thriller']
df.columns

Index(['name', 'url', 'year', 'certificate', 'rating', 'votes', 'plot_summary',
       'action', 'adventure', 'comedy', 'crime', 'family', 'fantasy',
       'mystery', 'sci-fi', 'thriller'],
      dtype='object')

## 7. Fix Nulls

In [193]:
df [ df.year > 2022]

,name,url,year,certificate,rating,votes,plot_summary,action,adventure,comedy,crime,family,fantasy,mystery,sci-fi,thriller
65,Forspoken,https://www.imdb.com/title/tt12497068/?ref_=ad...,2023.0,M,NaN,NaN,A young woman named Frey Holland awakens in th...,True,True,False,False,False,True,False,False,False
75,Spider-Man 2,https://www.imdb.com/title/tt15399898/?ref_=ad...,2023.0,T,NaN,NaN,"Plot unknown. A sequel to the 2018 game ""Spide...",True,True,False,True,False,False,False,False,False
90,Suicide Squad: Kill the Justice League,https://www.imdb.com/title/tt12892300/?ref_=ad...,2023.0,T,NaN,NaN,The most dangerous villains in the DC Universe...,True,True,True,False,False,False,False,False,False
98,Resident Evil 4,https://www.imdb.com/title/tt21047286/?ref_=ad...,2023.0,M,NaN,NaN,Remake of the 2005 game Resident Evil 4.,True,True,False,False,False,True,False,False,False
100,Star Wars Jedi: Survivor,https://www.imdb.com/title/tt20672830/?ref_=ad...,2023.0,T,NaN,NaN,Add a Plot,True,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18950,Cursed Mist,https://www.imdb.com/title/tt15400190/?ref_=ad...,2023.0,NaN,NaN,NaN,A Youth Group was spending the weekend at the ...,False,False,False,False,False,False,True,False,False
19960,Cycle of Souls,https://www.imdb.com/title/tt14413128/?ref_=ad...,2024.0,NaN,NaN,NaN,Add a Plot,False,False,False,False,False,False,False,True,False
20382,Project Excision,https://www.imdb.com/title/tt19395286/?ref_=ad...,2024.0,NaN,NaN,NaN,Add a Plot,False,False,False,False,False,False,False,True,False
20709,The Texas Chainsaw Massacre,https://www.imdb.com/title/tt16527078/?ref_=ad...,2023.0,M,NaN,NaN,The Texas Chain Saw Massacre is an asymmetrica...,False,False,False,False,False,False,False,False,True
20769,Crushed,https://www.imdb.com/title/tt15471894/?ref_=ad...,2023.0,NaN,NaN,NaN,Add a Plot,False,False,False,False,False,False,False,False,True

I fixed your dirty code

In [194]:
df.rating.unique()

array(['9.2', '9.7', '9.5', '9.6', '8.5', '8.8', '9.3', '8.0', '9.0', nan,
       '7.6', '9.4', '7.8', '8.9', '8.1', '8.7', '7.5', '8.4', '7.9',
       '8.6', '8.3', '8.2', '4.3', '6.3', '4.9', '7.7', '6.1', '9.1',
       '7.4', '6.9', '6.0', '5.9', '7.1', '7.0', '6.7', '6.4', '6.6',
       '7.3', '6.8', '4.0', '4.4', '6.2', '5.1', '7.2', '5.7', '5.5',
       '6.5', '5.6', '2.2', '3.4', '2.8', '5.8', '4.8', '2.9', '5.4',
       '1.5', '5.0', '3.7', '4.5', '5.2', '4.1', '5.3', '1.4', '4.7',
       '1.3', '3.8', '1.7', '3.6', '3.2', '1.8', '4.6', '3.0', '2.5',
       '1.9', '*9.0', '3.9', '3.1', '3.3', '4.2', '2.1', '2.3', '2.7',
       '3.5', '1.6', '2.6', '2.4', '2.0', '1.0'], dtype=object)

In [195]:
df.rating.replace('*9.0', '9.0', inplace=True)

df.rating.unique()

array(['9.2', '9.7', '9.5', '9.6', '8.5', '8.8', '9.3', '8.0', '9.0', nan,
       '7.6', '9.4', '7.8', '8.9', '8.1', '8.7', '7.5', '8.4', '7.9',
       '8.6', '8.3', '8.2', '4.3', '6.3', '4.9', '7.7', '6.1', '9.1',
       '7.4', '6.9', '6.0', '5.9', '7.1', '7.0', '6.7', '6.4', '6.6',
       '7.3', '6.8', '4.0', '4.4', '6.2', '5.1', '7.2', '5.7', '5.5',
       '6.5', '5.6', '2.2', '3.4', '2.8', '5.8', '4.8', '2.9', '5.4',
       '1.5', '5.0', '3.7', '4.5', '5.2', '4.1', '5.3', '1.4', '4.7',
       '1.3', '3.8', '1.7', '3.6', '3.2', '1.8', '4.6', '3.0', '2.5',
       '1.9', '3.9', '3.1', '3.3', '4.2', '2.1', '2.3', '2.7', '3.5',
       '1.6', '2.6', '2.4', '2.0', '1.0'], dtype=object)

I left the nan spaces empty because there are some games that have yet to be rated and I do not want thoses games to affect the average

In [196]:
df['rating'] = df['rating'].astype(float)

df.rating.info()

<class 'pandas.core.series.Series'>
RangeIndex: 20805 entries, 0 to 20804
Series name: rating
Non-Null Count  Dtype
--------------  -----
11602 non-null  float64
dtypes: float64(1)
memory usage: 162.7 KB

In [197]:
df.certificate.unique()

array(['T', 'M', nan, 'E10+', 'E', 'Unrated', 'AO', 'K-A', 'Not Rated',
       'GA', '12', 'TV-14', 'MA-13', 'PG-13', 'EC', 'Approved', 'G',
       'MA-17', 'PG', 'CE', 'Passed', 'TV-MA'], dtype=object)

I replaced the game rating with 'Passed'and 'Not Rated' nans because these games were Not Rated.

I left the 'Unrated' catagory because many low budget and indie games can go without being offically rated and are catagorised under 'Unrated'
 
I also left the nans because games made in the 1990s rarely had age ratings, but a larger portion of this columns is missing this data which does not have this problem. I left the columns for approximations of data, but it is not entirely reliable.

In [198]:
df.certificate.replace('Passed', np.nan, inplace=True)
df.certificate.replace('Not Rated', np.nan, inplace=True)
df.certificate.unique()

array(['T', 'M', nan, 'E10+', 'E', 'Unrated', 'AO', 'K-A', 'GA', '12',
       'TV-14', 'MA-13', 'PG-13', 'EC', 'Approved', 'G', 'MA-17', 'PG',
       'CE', 'TV-MA'], dtype=object)

Theres commas in the numbers for the votes column so I removed them

In [199]:
df.votes.unique()

array(['20,759', '35,703', '59,986', ..., '5,029', '1,357', '3,025'],
      dtype=object)

In [200]:
df['votes']=df['votes'].str.replace(',','')


df['votes'] = df['votes'].astype(float)

df.votes.info()

<class 'pandas.core.series.Series'>
RangeIndex: 20805 entries, 0 to 20804
Series name: votes
Non-Null Count  Dtype
--------------  -----
11602 non-null  float64
dtypes: float64(1)
memory usage: 162.7 KB

## 8. Summarize Numeric Columns

In [202]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20805 entries, 0 to 20804
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          20805 non-null  object
 1   url           20805 non-null  object
 2   year          20538 non-null  float64
 3   certificate   7720 non-null   object
 4   rating        11602 non-null  float64
 5   votes         11602 non-null  float64
 6   plot_summary  20805 non-null  object
 7   action        20805 non-null  bool
 8   adventure     20805 non-null  bool
 9   comedy        20805 non-null  bool
 10  crime         20805 non-null  bool
 11  family        20805 non-null  bool
 12  fantasy       20805 non-null  bool
 13  mystery       20805 non-null  bool
 14  sci-fi        20805 non-null  bool
 15  thriller      20805 non-null  bool
dtypes: bool(9), float64(3), object(4)
memory usage: 1.3+ MB

## Goals

# do more than just coding.
# explain what you are doing.
# fix dirty data